.menu__contents {
    margin: 100px auto;
    text-align: center;
    font-size: large;
}

.flash_message {
    color: black;
    background-color: #fee;
    padding: 20px;
    text-align: center;
}

.menu__select-btn {
    background-color: #FFF;
    border: none;
    cursor: pointer;
    font-size: larger;
    color: blueviolet;
}