.item-list__wrapper {
    border-bottom: 1px solid #000;
    margin: 20px 0;
    display: flex;
}

.item__list--recommend,
.item__list--favorite {
    margin: 10px 60px;
    font-size: larger;
    background-color: #FFF;
    border-style: none;
    cursor: pointer;
}

.item__list--favorite {
    color: #FF5555;
}

.item-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.item-all__card {
    padding: 30px;
}

.card__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .item__list--recommend,
    .item__list--favorite {
        margin: 10px;
        font-size: medium;
    }

    .item-all__card {
        padding: 10px;
    }

    .card__img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
}