.item__profile {
    display: flex;
    justify-content: center;
}

.item__profile--content {
    margin: 30px auto;
    display: flex;
}

.profile__img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.item__profile-data {
    margin: auto 20px;
}

.form__ttl {
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
}

.item__profile-edit {
    margin: auto 50px;
}

.profile__edit-btn {
    color: #FF5555;
    font-size: 20px;
    background-color: #FFF;
    border-radius: 5px;
    border: 2px solid #FF5555;
    cursor: pointer;
}

.item-all__list--wrapper {
    border-bottom: 1px solid #000;
    margin: 20px 0;
    display: flex;
}

.item__list--sell,
.item__list--buy {
    margin: 10px 30px;
    font-size: larger;
    background-color: #FFF;
    border-style: none;
    cursor: pointer;
}

.item__list--buy {
    color: #FF5555;
}

.item-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: auto;
}

.item-all__card {
    margin: 30px;
}

.card__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .item__profile {
        display: block;
    }

    .item__profile--content {
        display: flex;
        justify-content: center;
    }

    .profile__img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }

    .form__ttl {
        font-size: 20px;
        font-weight: bold;
        margin: 0;
    }

    .item__profile-edit {
        margin: 0;
        text-align: center;
    }

    .profile__edit-btn {
        font-size: medium;
    }

    .item__list--sell,
    .item__list--buy {
        margin: 10px;
        font-size: medium;
    }

    .item-all__card {
        margin: 10px;
    }

    .card__img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

}